@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
    --line-border-fill: #fca311;
    --line-border-empty: #e2eafc; 
}

* {
    box-sizing: border-box;
}

body {
    background-color: #d7e3fc;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
}

.container {
    text-align: center;
    margin: 15px;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
}

.progress-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: .4s ease;
}

.circle {
    background-color: var(--line-border-empty);
    color: #999;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: .4s ease;
    transform: rotate(45deg);
}
.circle:hover {
    cursor: default;
}

.circle.active {
    border-color: var(--line-border-fill);
}

.circle.active-last {
    background-color: var(--line-border-fill);
    color: #fff;
    animation-name: rotateSquare;
    animation-duration: 300ms;
    animation-iteration-count: 1;
    animation-timing-function: linear; 
}

.circle span {
  transform: rotate(-45deg);
}

@keyframes rotateSquare {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(180deg);
    }
}

.btn {
    background-color: var(--line-border-fill);
    color: #fff;
    border: 1px solid #adb5bd;
    border-radius: 6px;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: none;
}

.btn:disabled {
    background-color: var(--line-border-empty);
    color: #adb5bd;
    cursor: not-allowed;
}