@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

:root {
  /*--color-watch: #e9c46a;*/
  --color-watch: #cea33a;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background: #e9ecef;
}

.clock {
  position: relative;
  width: 500px;
  height: 500px;
  border: 15px solid var(--color-watch);
  transform: rotate(-90deg);
}

.clock,
.clock-inner,
.circle {
  border-radius: 50%;
}

.clock-inner {
  width: 100%;
  height: 100%;
  background-image: url('https://images.unsplash.com/photo-1455612693675-112974d4880b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDh8fGN1YmVzfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
  background-position: center;
}

.hand-hour,
.hand-minute,
.hand-second {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10px;
  transform-origin: center left;
  background: var(--color-watch);
}

.hand-minute,
.hand-second {
  width: 170px;
}

.hand-second {
  background: #000;
}

.hand-hour {
  width: 110px;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translateX(-50%) translateY(-50%);
  background: var(--color-watch);
}

@media (max-width: 460px) {
  .clock {
    width: 300px;
    height: 300px;
    border: 9px solid var(--color-watch);
  }

  .hand-hour,
  .hand-minute,
  .hand-second {
    height: 6px;
  }
  .hand-minute,
  .hand-second {
    width: 102px;
  }
  .hand-hour {
    width: 66px;
  }
  .circle {
    width: 18px;
    height: 18px;
  }
}
